<div class="container">
  <div class="col-3 offset-9">
    <%= link_to customer_session_path do %>
      <div class="row border border-black log_in align-items-center my-3">
          <i class="fas fa-key fa-3x p-2 w-25"></i>
          <div class="w-75 text-right"><h5>ログイン　　　＞<h5></div>
      </div>
    <% end %>

    <div class="row border border-black search align-items-center my-3">
      <i class="fas fas fa-search fa-3x p-2 w-25"></i>
      <div class="w-75"><h5>　　 商品検索<h5></div>
    </div>

    <%= link_to customer_session_path do %>
      <div class="row border border-black sidebar_order_button align-items-center my-3">
        <div class="h-100 sidebar_button_side"></div>
        <div class="h-100 sidebar_button_main">
          <div class="text-center"><i class="fas fa-book-open fa-3x p-2 w-25"></i></div>
          <div class="text-center">商品コードからご注文</div>
        </div>
        <div class="h-100 sidebar_button_side text-right">＞</div>
      </div>
    <% end %>

    <%= link_to customer_session_path do %>
      <div class="row border border-black sidebar_order_button align-items-center my-3">
        <div class="h-100 sidebar_button_side"></div>
        <div class="h-100 sidebar_button_main">
          <div class="text-center"><i class="fas fa-shopping-cart fa-3x p-2 w-25"></i></div>
          <div class="text-center">注文履歴からご注文</div>
        </div>
        <div class="h-100 sidebar_button_side text-right">＞</div>
      </div>
    <% end %>

    <%= link_to customer_session_path do %>
      <div class="row border border-black sidebar_order_button align-items-center my-3">
        <div class="h-100 sidebar_button_side"></div>
        <div class="h-100 sidebar_button_main">
          <div class="text-center"><i class="fas fa-star fa-3x p-2 w-25"></i></div>
          <div class="text-center">お気に入りからご注文</div>
        </div>
        <div class="h-100 sidebar_button_side text-right">＞</div>
      </div>
    <% end %>
  </div>
</div>