<div class="container-fluid border" style="height:450px;">
  お知らせ
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-8 border mx-5">
      hoge
    </div>
    <div class="col-3 mx-auto">
      <%= render 'homes/sidebar' %>
    </div>
  </div>
</div>