@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


.icon_cart {
  font-size: 2em;
}

.button_cart {
  height: 4.5em;
  width: 7em;
}

.contents {
  height: 3em;
  background-color: #CCFFCC;
}

.nav_item {
  margin: auto;
  text-align: center;
}

.footer {
  height: 100px;
  background-color: #DDDDDD;
}

.footer2 {
  background-color: #333333;
}

.button_submit {
  height: 60px;
  width: 400px;
}

.log_in_block {
  height: 350px;
}

.log_in {
  height: 75px;
  width: 280px;
  background-color: #CCFFCC;
}

.search {
  height: 60px;
  width: 280px;
  background-color: #FFCC00;
}

.sidebar_order_button {
  height: 120px;
  width: 280px;
  display: table;
}

.sidebar_button_side {
  width: 10%;
  display: table-cell;
  vertical-align: middle;
}

.sidebar_button_main {
  width: 80%;
  display: table-cell;
  vertical-align: middle;
}